<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Item Carousel Cards</title>

    <!-- Cdn Bootstrap -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,400;1,500;1,700;1,800&display=swap"
        rel="stylesheet">

    <!-- Css -->
    <link rel="stylesheet" href="/css/pc-660x425.css">
</head>

<body class="d-flex justify-content-center align-items-center position-relative">
    <section class="d-flex flex-column pc-660x425">
        <img src="/img/ads_symbol.png" alt="advertising" class="advertising_symbol">
        <!-- Header -->
        <%- include('../partials/header.ejs') %>
        <!-- Body -->
        <div class="ads_banner">
            <img src="/img/ads_banner.png" alt="ads-banner-video" class="ads_banner_video">
            <div class="ads_banner--sound d-flex justify-content-center align-items-center">
                <img src="/svg/banner-sound-muted.svg" alt="muted">
            </div>
            <div class="ads_banner--skip">
                <span class="mr-1">Skip</span><img src="/svg/skip.svg" alt="banner-skip">
            </div>
        </div>
        <div class="ads_body">
            <%- include('../partials/banner.ejs') %>
            <!-- Banner mini -->
            <div class="ads_banner-mini position-relative">
                <img src="/img/banner-mini.jpg" alt="ads-banner-video" class="ads_banner_video">
                <img src="/svg/coutinue.svg" alt="Resume Video" class="ads_banner_continue">
            </div>
            <div class="body-nothing"></div>
            <div class="carousel-container">
                <div class="carousel">
                    <% for (let i=0; i < items.length; i +=1) { %>
                        <div class="carousel-item">
                            <a href="<%= items[i].itemLink %>" class="d-block"><img class="item_img" src="<%= items[i].imgSrc %>"
                                    alt="<%= items[i].imgAlt %>"></a>
                            <a href="<%= items[i].itemLink %>" class="item_name">
                                <%= items[i].itemName %>
                            </a>
                            <button class="item_btn btn btn-primary mt-auto"><a href="#">Tìm hiểu ngay</a></button>
                        </div>
                    <% } %>
                </div>
            </div>
            <!-- Footer -->
            <%- include('../partials/footer.ejs') %>
        </div>
    </section>
    <a href="/" class="ads_home-btn">Quay lại...</a>
    <!-- JavaScript dependencies -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="module" src="/js/app.js"></script>
    <script type="module">
        import { Sound, PC660x425 } from '/js/app.js';
        document.addEventListener("DOMContentLoaded", function () {
            Sound();
            PC660x425();
        });
    </script>
</body>

</html>