<div class="carousel-item">
    <a href="<%= item.itemLink %>" class="d-block"><img class="item_img" src="<%= item.imgSrc %>" alt="<%= item.imgAlt %>"></a>
    <a href="<%= item.itemLink %>" class="item_name"><%= item.itemName %></a>
    <div class="item_des"><%= item.itemDescription %></div>
    <button class="item_btn btn btn-primary mt-auto"><a href="#">Tìm hiểu ngay</a></button>
</div>